<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diegoalvis.exposedcontent">

    <!-- Required in app in other to read, only works if this app is signed by same signature since this permission is signature level -->
    <uses-permission android:name="com.diegoalvis.exposedcontent.sourceApp.permission.READ" />
    <uses-permission android:name="com.diegoalvis.exposedcontent.sourceApp.permission.public.READ" />

</manifest>